dataset/CVACT
dataset/CVUSA
test*
*.pyc
output*
wandb/*
train_*
# dataset
__pycache__
pretrained_models
command
# *.png
*.jpg
*.pth
vis/
compute_D*
result
pixels.csv
*.mp4
*.vtk
**/build/
**.egg
**.zip
demo_img/add_img.py
.vscode
vis**

**/*.egg-info