cmake
numpy==1.22.1
Pillow>=8.3.2
scipy
scikit-image
tqdm==4.35.0
cython
qimage2ndarray
requests==2.25.1
tensorboard
lpips
easydict
termcolor
wandb==0.13.3
pytorch_msssim
opencv-contrib-python==4.6.0.66
albumentations
pyvista==0.41.1
